@model JFGM20250320.AppWebMVC.Models.Brand

@{
    ViewData["Title"] = "Edit";
}

<div class="card">

	<div class="card-header">
		<h1 class="text-center">Editar Marca</h1>
	</div>
	<form asp-action="Edit">
		<div class="card-body">
			<div class="row">

				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="BrandId" />
				<div class="col-6">

					<div class="form-group">
						<label asp-for="BrandName" class="control-label"></label>
						<input asp-for="BrandName" class="form-control" />
						<span asp-validation-for="BrandName" class="text-danger"></span>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label asp-for="Country" class="control-label"></label>
						<input asp-for="Country" class="form-control" />
						<span asp-validation-for="Country" class="text-danger"></span>
					</div>
				</div>
				<br />
			
			</div>
			<br />
			<div class="card-footer">
				<button type="submit" value="Save" class="btn btn-outline-success">Crear</button>
				<a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
			</div>
		</div>
	</form>
</div>