@model JFGM20250320.AppWebMVC.Models.User

@{
	ViewData["Title"] = "Perfil";
}


<div class="card">

	<div class="card-header">
		<h1 class="text-center">Perfil</h1>
	</div>

	<div class="card-body">
		<form asp-action="Perfil">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="UserId" />

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label asp-for="Username" class="control-label"></label>
						<input asp-for="Username" class="form-control" />
						<span asp-validation-for="Username" class="text-danger"></span>
					</div>
				</div>

				<div class="col-6">
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label asp-for="paswordConfir" class="control-label"></label>
						<input asp-for="paswordConfir" class="form-control" />
						<span asp-validation-for="paswordConfir" class="text-danger"></span>
					</div>
				</div>

				<div class="col-6">
					<div class="form-group">
						<label asp-for="Role" class="control-label"></label>
						<select asp-for="Role" class="form-control">
							<option value=" ">--ROLES--</option>
							<option value="ADMINISTRADOR">ADMINISTRADOR</option>
							<option value="GERENTE">GERENTE</option>
						</select>
						<span asp-validation-for="Role" class="text-danger"></span>
					</div>

				</div>
			</div>

			<br />
			<div class="card-footer">
				<button type="submit" class="btn btn-outline-success">Actualizar</button>
			</div>

		</form>

	</div>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


