@model JFGM20250320.AppWebMVC.Models.Product

@{
    ViewData["Title"] = "Create";
}


<div class="card">
	<div class="card-header">
		<h1 class="text-center">Crear Producto</h1>
	</div>

	<div class="card-body">


		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">

				<div class="col-6">
					<div class="form-group">
						<label asp-for="ProductName" class="control-label"></label>
						<input asp-for="ProductName" class="form-control" />
						<span asp-validation-for="ProductName" class="text-danger"></span>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label asp-for="Description" class="control-label"></label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="form-group">
							<label asp-for="Price" class="control-label"></label>
							<input asp-for="Price" class="form-control" />
							<span asp-validation-for="Price" class="text-danger"></span>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label asp-for="WarehouseId" class="control-label"></label>
							<select asp-for="WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label asp-for="BrandId" class="control-label"></label>
							<select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
						</div>
					</div>

				</div>

			</div>
			<br />
			<div class="card-footer bg-white">
				<button type="submit" value="Create" class="btn btn-outline-success">Crear</button> |
				<a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
			</div>
		</form>




	</div>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
