@model JFGM20250320.AppWebMVC.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
	<div class="card-header">
		<h1 class="text-center">Editar Producto</h1>
	</div>

	<div class="card-body">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ProductId" />
			<div class="row">

				<div class="col-6">
					<label asp-for="ProductName" class="control-label"></label>
					<input asp-for="ProductName" class="form-control" />
					<span asp-validation-for="ProductName" class="text-danger"></span>
				</div>

				<div class="col-6">
					<label asp-for="Description" class="control-label"></label>
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				<div class="row">
					<div class="col-4">
						<label asp-for="Price" class="control-label"></label>
						<input asp-for="Price" class="form-control" />
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>


					<div class="col-4">
						<label asp-for="WarehouseId" class="control-label"></label>
						<select asp-for="WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
						
						<span asp-validation-for="WarehouseId" class="text-danger"></span>
					</div>

					<div class="col-4">
						<label asp-for="BrandId" class="control-label"></label>
						<select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
						<span asp-validation-for="BrandId" class="text-danger"></span>
					</div>

				</div>

				

			</div>

			<br />
			<div class="card-footer">
				<button type="submit" value="Save" class="btn btn-outline-success">Actualizar</button> |
				<a class="btn btn-outline-secondary" asp-action="Index">Regresar</a>
			</div>
		</form>
	</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
